.idea/
.vscode/
myvenv/
*.pyc
*.sqlite3
*~
set_loc.py
web-application/static
web-application/media
node_modules/
web-application/staticfiles/bower_components/
web-application/staticfiles/js/
web-application/staticfiles/css/
.DS_Store
npm-debug*
package-lock.json
settings_prod.py
/virtualenv/
/node_modules/
/virtualenv/lib/
media/
static/
locustfile.py
venv_turakjay